<ng-container *ngIf="calendar | async as calendar">
  <div class="cells">
	<div [ngStyle]="firstDay | async"></div>
    <app-cell
		*ngFor="let item of calendar"
		[matTooltip]="item.tooltip"
		matTooltipPosition="right"
		[weight]="item.weight"
		[inFuture]="!item.inPast"
	></app-cell>
  </div>

  <button style="margin: 16px;" mat-raised-button color="accent" (click)="add()">Добавить сегодня</button>

  <button style="margin: 16px;" mat-raised-button color="primary" (click)="substr()">Убавить сегодня</button>
</ng-container>
